<footer>

    <hr>

    <h5>req.cookies:</h5>
    <pre class="bg-light pl-4 pr-4">
<code>
<%= log.cookies %>
</code>
</pre>

    <hr>

    <h5>req.session.data:</h5>
    <pre class="bg-light pl-4 pr-4">
<code>
<%= log.data %>
</code>
</pre>

    <hr>

    <p>Page views: <%= data.views %></pclass="text-center">

</footer>