<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Restricted</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body class="p-4">

    <% if (data.user) { %>
    <h2>Hello <strong><%= data.user %></strong></h2>
    <% } else { %>
    <h2>Not Logged</h2>
    <% } %>

    <% if (error) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } else { %>
    <div class="alert alert-success" role="alert">
        You see some secret things !
    </div>
    <% } %>

    <div class="my-4">
        <% if (data.user) { %>
        <a class="btn btn-primary mr-3" href="/logout">Log out</a>
        <% } else { %>
        <a class="btn btn-primary mr-3" href="/login">Log in</a>
        <% } %>
    </div>

    <a href="/">Go to /</a>

    <%- include('footer', data); %>

    <script src="jquery-3.4.1.min.js"></script>

</body>

</html>